Django>=5.2,<6.0
gunicorn
uvicorn
djangorestframework
psycopg2-binary
whitenoise
waitress
python-dotenv
dj-database-url
django-ckeditor
crispy-bootstrap5
django-crispy-forms
python-dateutil
requests>=2.31.0
